<%-include("./aheader.ejs")%>







<div style="padding:15%;background-color: rgb(255, 255, 255);align-items: center;">
 
    <table class="table table-striped">
        <thead>
        
          <tr>
            <th scope="col">#</th>
            <th scope="col">Patient Name</th>
            
            <th scope="col">Email</th>
            <th scope="col">Department</th>
            <th scope="col">Date</th> 
            <th scope="col">Scheduled Date</th>
            <th scope="col">docter</th>
            <th scope="col">set appoinment</th>

          </tr>
        </thead>
        <tbody>
           <% for (const app of apps) { %>
                  <tr>
                    <td>#</td>
                    <td><%= app.pname %></td>
                    <td><%= app.pemail %></td>
                    <td><%= app.dep %></td>
                    <td><%= app.pdate %></td>
                    <td><%= app.appdate %></td>
                    <td><%= app.appdoc %></td>
                    <td>
                      <li class="nav-item cta mr-md-2">
                        <a href="/set?id=<%= app._id %>" class="nav-link">set apoinment</a>
                      </li>
                    </td>
                  </tr>
                <% } %>
        </tbody>
      </table>

</div>








<%-include("./afooter.ejs")%>
